#about-image {
    border-style: solid;
    border-color: black;
    border-width: 5px;

}
#about h2 {
    border-bottom: 2px solid black;
}
p {
    text-indent: 40px;
}

.crud__delete:hover {
    cursor:pointer;
}

.crud__update:hover {
    cursor:pointer;
}